# Default ignored files
/../../baitap8 /.idea/shelf/
/../../baitap8 /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../baitap8 /.idea/httpRequests/
# Datasource local storage ignored files
/../../baitap8 /.idea/dataSources/
/../../baitap8 /.idea/dataSources.local.xml
