# Default ignored files
/../../QuickSort_LomutoPartition /.idea/shelf/
/../../QuickSort_LomutoPartition /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../QuickSort_LomutoPartition /.idea/httpRequests/
# Datasource local storage ignored files
/../../QuickSort_LomutoPartition /.idea/dataSources/
/../../QuickSort_LomutoPartition /.idea/dataSources.local.xml
