# Default ignored files
/../../test /.idea/shelf/
/../../test /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../test /.idea/httpRequests/
# Datasource local storage ignored files
/../../test /.idea/dataSources/
/../../test /.idea/dataSources.local.xml
